body {
  margin: 0;

  color: white;

  background-color: rgb(45, 45, 45);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 10px 20px;
}

.header-link {
  padding: 3px 10px;

  color: black;
  text-decoration: none;

  background-color: white;
  border-radius: 3px;

  transition: all linear 0.1s;

  &:hover {
    background-color: rgb(255, 215, 0);
  }
}

.main {
  display: flex;
  height: 90vh;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100%;
  margin: 0 10px;
}

.pixel-list {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 3px;
  padding: 0;

  list-style: none;
}

.pixel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  margin: 1px;

  background-color: #444444;
  border: 1px solid #444444;

  &:hover {
    border: 1px solid rgb(255, 215, 0);
    cursor: pointer;
  }
}

.pixel-1 {
  width: 8px;
  height: 8px;

  background-color: white;
}

.pixel-2 {
  width: 10px;
  height: 10px;

  background-color: white;
}

.pixel-3 {
  width: 12px;
  height: 12px;

  background-color: white;
}

.pixel-4 {
  width: 14px;
  height: 14px;

  background-color: white;
}

.tools-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2px;
  padding: 0;

  list-style: none;
}

.tools-item {
  width: 43px;
  height: 43px;
  margin: 1px;
  overflow: hidden;

  background-color: #444444;
  border: 2px solid #444444;

  &:hover {
    border: 2px solid rgb(255, 215, 0);
    cursor: pointer;
  }
}

.tool {
  width: 100%;
  height: 100%;
}

.pen::before {
  content: url("./assets/icons.png");
  position: relative;
  right: 185px;
  bottom: 95px;
}

.stroke::before {
  content: url("./assets/icons.png");
  position: relative;
  right: 48px;
  bottom: 136px;
}

.bucket::before {
  content: url("./assets/icons.png");
  position: relative;
  right: 230px;
  bottom: 93px;
}

.unicolor::before {
  content: url("./assets/icons.png");
  position: relative;
  right: 230px;
  bottom: 141px;
}

.eraser::before {
  content: url("./assets/icons.png");
  position: relative;
  right: 48px;
  bottom: 230px;
}

.picker::before {
  content: url("./assets/icons.png");
  position: relative;
  right: 276px;
  bottom: 0;
}

.color-tools {
  position: relative;

  width: 100%;
  height: 100px;
}

.color-input {
  display: none;
}

.current-color {
  position: absolute;
  left: 12px;
  z-index: 2;

  width: 40px;
  height: 40px;

  border: 3px solid gray;

  &:hover {
    border: 3px solid rgb(255, 215, 0);
    cursor: pointer;
  }
}

.prev-color {
  position: absolute;
  top: 25px;
  left: 40px;
  z-index: 1;

  width: 40px;
  height: 40px;

  border: 3px solid gray;

  &:hover {
    border: 3px solid rgb(255, 215, 0);
    cursor: pointer;
  }
}

.swap-colors {
  position: absolute;
  top: 48px;
  left: 16px;

  width: 20px;
  height: 20px;
  overflow: hidden;

  border: 2px solid transparent;

  &:hover {
    border: 2px solid rgb(255, 215, 0);
    cursor: pointer;
  }
}

.swap-colors::before {
  content: url("./assets/icons.png");
  position: relative;
  right: 272px;
  bottom: 222px;
}

.keyboard-shortcuts {
  width: 40px;
  height: 25px;
  margin: 0 auto;
  overflow: hidden;

  border: 2px solid gray;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border-color: rgb(255, 215, 0);
  }

  &::before {
    content: url("./assets/icons.png");
    position: relative;
    right: 272px;
    bottom: 134px;
  }
}

.frames {
  min-width: 110px;
  max-height: 100vh;
  margin-right: 10px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    position: absolute;

    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.mini-frame-list {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 0;

  list-style: none;
}

.mini-frame {
  position: relative;

  width: 96px;
  height: 100px;
  margin-bottom: 10px;

  background-color: black;
  border: 2px solid darkgrey;
  border-radius: 3px;

  &:hover {
    border: 2px solid rgb(255, 215, 0);
    cursor: default;

    .mini-frame__clone,
    .mini-frame__delete,
    .mini-frame__dragndrop {
      display: block;
    }
  }
}


.mini-frame__canvas {
  width: 100%;
  height: 100%;

  background: url("./assets/canvas-background.png");
  cursor: pointer;
}

.mini-frame__counter {
  position: absolute;
  bottom: 75px;
  left: 0;

  width: 25px;
  height: 25px;

  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: black;

  background-color: rgb(255, 215, 0);

  user-select: none;
  pointer-events: none;
}

.mini-frame__clone {
  position: absolute;
  bottom: 73px;
  left: 69px;

  display: none;
  width: 25px;
  height: 25px;
  overflow: hidden;

  background-color: gray;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  cursor: pointer;

  &:hover {
    border-color: rgb(255, 215, 0);
  }

  &::before {
    content: url("./assets/icons.png");
    position: relative;
    right: 276px;
    bottom: 78px;
  }
}

.mini-frame__delete {
  position: absolute;
  bottom: 0;
  left: 69px;

  display: none;
  width: 25px;
  height: 25px;
  overflow: hidden;

  background-color: gray;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  cursor: pointer;

  &:hover {
    border-color: rgb(255, 215, 0);
  }

  &::before {
    content: url("./assets/icons.png");
    position: relative;
    right: 276px;
    bottom: 109px;
  }
}

.mini-frame__dragndrop {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  width: 25px;
  height: 25px;
  overflow: hidden;

  background-color: gray;
  border-top: 2px solid gray;
  border-right: 2px solid gray;

  pointer-events: none;

  &:hover {
    border-color: rgb(255, 215, 0);
  }

  &::before {
    content: url("./assets/icons.png");
    position: relative;
    right: 276px;
    bottom: 49px;
  }
}

.mini-frame__add {
  display: flex;
  align-items: center;
  width: 96px;
  height: 48px;

  background-color: black;
  border: 2px solid gray;
  border-radius: 3px;

  user-select: none;

  &:hover {
    border-color: rgb(255, 215, 0);
    cursor: pointer;
  }
}

.mini-frame__add-icon {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  margin: 0 5px;
  overflow: hidden;

  &::before {
    content: url("./assets/icons.png");
    position: relative;
    right: 276px;
    bottom: 160px;
  }
}


.work-area {
  width: calc(100% - 300px);
  margin-right: 5px;
}

.main-frame {
  display: block;
  width: 512px;
  height: 512px;
  margin: 5vh auto 0;

  background: url("./assets/canvas-background.png");
  cursor: crosshair;
}

.result {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-width: 200px;
  height: 100%;
  margin-right: 20px;
}

.result-headers {
  margin: 30px 0 5px;
}

.preview {
  position: relative;

  width: 100%;
  height: 200px;

  background: url("./assets/canvas-background.png");
}

.preview-canvas {
  width: 100%;
  height: 200px;

  &:-webkit-full-screen {
    background: url("./assets/canvas-background.png");
  }
}

.fullscreen {
  position: absolute;
  right: 0;

  width: 15px;
  height: 15px;
  overflow: hidden;

  background-color: gray;
  border: 2px solid white;
  cursor: pointer;

  &:hover {
    border-color: rgb(255, 215, 0);

    &::before {
      content: url("./assets/icons.png");
      position: relative;
      right: 292px;
      bottom: 207px;
    }
  }

  &::before {
    content: url("./assets/icons.png");
    position: relative;
    right: 295px;
    bottom: 186px;
  }
}

.fps-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fps-display {
  width: 50px;
  margin-left: 5px;
}

.fps-input {
  width: 130px;
  margin-right: 5px;
}

.resolution-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.resolution-item {
  width: 100%;
  margin: 5px 0;

  text-align: center;

  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;

  user-select: none;

  &:hover {
    border: 2px solid rgb(255, 215, 0);
    cursor: pointer;
  }
}

.export-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.export-item {
  padding: 5px 20px;

  color: black;

  background-color: rgb(255, 215, 0);
  border: 2px solid black;
  border-radius: 5px;

  transition: all linear 0.1s;

  user-select: none;

  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

.cheatsheet {
  position: absolute;
  z-index: 99;

  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px) contrast(0.4);
}

.cheatsheet__container {
  width: 80%;
  min-width: 400px;
  margin: 50px auto;

  user-select: none;

  background-color: gray;
}

.cheatsheet__head {
  position: relative;

  height: 40px;

  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: black;

  background-color: rgb(255, 215, 0);
}

.cheatsheet__close {
  position: absolute;
  right: 0;

  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 8px 8px 0 0;

  font-size: 20px;

  border: 2px solid black;
  cursor: pointer;

  &:hover {
    color: red;

    border-color: red;
  }
}

.cheatsheet__body {
  border: 2px solid rgb(255, 215, 0);
  padding-bottom: 10px;

  font-size: 22px;
  color: black;
}

.cheatsheet__list {
  list-style: none;
}

.cheatsheet__list-item {
  margin-bottom: 5px;
  align-items: center;
}

.cheatsheet__short {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 20px;

  text-align: center;
  color: rgb(255, 215, 0);

  border: 2px solid black;
  cursor: pointer;

  &:hover {
    border-color: rgb(255, 215, 0);
  }
}

.selected {
  border-color: rgb(255, 215, 0);
}

.over {
  border-color: red;
  color: red;
}

.hidden {
  display: none;
}

@media (max-width: 890px) {
  .work-area {
    width: 512px;
  }
}
